{% extends 'base1.html' %}
{% block content %}
            <h3>{{ post.title }}</h3>
            <p>author: {{ post.author}}</p>
            <p>short_description - {{ post.short_description }}</p>
            <p>full_description - {{ post.full_description }}</p>
            <p>image - {{ post.image }}</p>
              <form>
                <button formaction="{% url 'comment-create' pk=post.pk%}">Add comment</button>
            </form>
         <p>Comment:</p>

            {% for comment in object_list %}
                <ul>
                    <li>
                        <a href="{{ comment.get_absolute_url }}">{{ comment }}</a>
                    </li>
                </ul>
            {% endfor %}
{% endblock %}